<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addEmployees" method="post">
    name:<input type="text" name="name">
    surname:<input type="text" name="surname">
   email: <input type="text" name="email">
   phoneNumber <input type="text" name="phone_number">
   salary: <input type="text" name="salary">
position    <input type="text" name="position">
    <select name="company.id">
        <option
             th:each="company:${companies}"
            th:text="${company.name}" th:value="${company.id}">
        </option>
    </select>
    EmployeeType: <select name="employee_type">
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
</select>
    password:<input type="password" name="password">
    <input type="submit" name="addEmployee">

</form>
</body>
</html>